/* No files to import found in abstractions/* */
body {
  font: 16px/1.2 Helvetica, Arial, sans-serif; }

a {
  color: #0f753b;
  text-decoration: none; }

.boxed {
  border: 1px solid #4cae4c;
  padding: 1em;
  margin: 1em 0;
  position: relative; }
  .boxed h2, .boxed h3 {
    position: absolute;
    margin: 0;
    top: -11px;
    background: white;
    padding: 0 1em;
    display: inline-block !important; }
    .boxed h2.ctools-collapsible-handle, .boxed h3.ctools-collapsible-handle {
      padding-left: 1em; }
  .boxed .ctools-toggle {
    position: absolute;
    top: -10px;
    z-index: 1; }

body {
  margin: 0; }

.header-inner,
#page-title,
#console,
.l-region--highlighted,
#content,
.footer-inner {
  max-width: 1360px;
  margin: 0 auto; }

#mini-panel-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #mini-panel-header #site-title {
    display: inline-block;
    line-height: 1;
    text-align: right;
    margin: 0;
    vertical-align: middle; }
  #mini-panel-header .site-title-1 {
    font-size: 3em; }
  #mini-panel-header .site-title-2 {
    color: #9bcb3c;
    display: block;
    font-size: 2.8em;
    margin-right: 0.8em;
    margin-top: -28px; }
  #mini-panel-header #logo img {
    height: 80px;
    width: auto; }
  #mini-panel-header .logo-container {
    display: inline-block; }
  #mini-panel-header .pane-page-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0; }
  #mini-panel-header .pane-page-site-name {
    font-size: 2.1em;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0; }
    @media (min-width: 568px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2em;
        -webkit-box-flex: 4;
        -webkit-flex: 4;
            -ms-flex: 4;
                flex: 4; } }
    @media (min-width: 768px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.5em; } }
  #mini-panel-header .pane-page-slogan {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
    @media (min-width: 568px) {
      #mini-panel-header .pane-page-slogan {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
            -ms-flex: 5;
                flex: 5; } }
    @media (min-width: 1024px) {
      #mini-panel-header .pane-page-slogan {
        font-size: 1.2em; } }

#highlighted {
  background: url("../images/banner.jpg") no-repeat center center;
  background-size: cover; }

#footer {
  background: #0f753b; }

#block-panels-mini-footer #mini-panel-footer {
  display: block; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    #block-panels-mini-footer #mini-panel-footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #block-panels-mini-footer #mini-panel-footer {
      display: block; } }
  @media (min-width: 768px) and (orientation: landscape) {
    #block-panels-mini-footer #mini-panel-footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
#block-panels-mini-footer .pane-custom.pane-2 {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 1em; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    #block-panels-mini-footer .pane-custom.pane-2 {
      width: auto;
      padding-top: 5px; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #block-panels-mini-footer .pane-custom.pane-2 {
      width: 50%; } }
  @media (min-width: 768px) and (orientation: landscape) {
    #block-panels-mini-footer .pane-custom.pane-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
              flex: 0 auto;
      width: auto;
      margin-bottom: 0px; } }
#block-panels-mini-footer .pane-menu-menu-footer-links {
  float: right;
  width: 50%; }
  #block-panels-mini-footer .pane-menu-menu-footer-links ul.menu {
    text-align: center; }
  #block-panels-mini-footer .pane-menu-menu-footer-links .menu li {
    border-bottom: 0px;
    float: none;
    margin-left: 0; }
    #block-panels-mini-footer .pane-menu-menu-footer-links .menu li a {
      color: white; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    #block-panels-mini-footer .pane-menu-menu-footer-links {
      width: auto; }
      #block-panels-mini-footer .pane-menu-menu-footer-links ul.menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #block-panels-mini-footer .pane-menu-menu-footer-links {
      width: 50%;
      float: left;
      clear: left; }
      #block-panels-mini-footer .pane-menu-menu-footer-links ul.menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media (min-width: 768px) and (orientation: landscape) {
    #block-panels-mini-footer .pane-menu-menu-footer-links {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
              flex: 0 auto;
      width: auto; }
      #block-panels-mini-footer .pane-menu-menu-footer-links .menu li {
        float: left; }
        #block-panels-mini-footer .pane-menu-menu-footer-links .menu li:first-child {
          margin-left: 2em; } }
#block-panels-mini-footer .pane-custom.pane-3 {
  float: left;
  width: 50%;
  text-align: center; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    #block-panels-mini-footer .pane-custom.pane-3 {
      width: auto;
      padding-top: 5px; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #block-panels-mini-footer .pane-custom.pane-3 {
      width: 50%;
      position: absolute;
      right: 0; } }

/*# sourceMappingURL=sp123-omega.styles.css.map */