/* No files to import found in abstractions/* */
@import "https://fonts.googleapis.com/css?family=Italianno";
html {
  background: url("../images/main-bg.jpg") repeat;
  height: 100%; }

body {
  font: 18px/1.4 Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  max-width: 1360px;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  body > header, body > main, body > footer {
    width: 100%; }

a {
  color: #0f753b;
  text-decoration: none; }

.boxed {
  border-radius: 10px;
  border: 2px solid #689a04;
  padding: 1em;
  margin: 1em 0;
  position: relative; }
  .boxed .pane-title {
    background-color: #f5f5f5;
    position: absolute;
    margin: 0;
    top: -15px;
    padding: 0 1em;
    display: inline-block !important;
    font-size: 1.15em; }
    .boxed .pane-title.ctools-collapsible-handle {
      padding-left: 1em; }
  .boxed .ctools-toggle {
    position: absolute;
    top: -10px;
    z-index: 1; }

.node-type-panopoly-landing-page .wwm-sanderson .row {
  margin: 0;
  padding: 2em; }
.node-type-panopoly-landing-page .wwm-sanderson .row:first-child {
  background: url("../images/banner.jpg") center center;
  background-size: cover;
  border: 2px solid #689a04;
  border-radius: 10px;
  margin: 0 1em; }
.node-type-panopoly-landing-page .wwm-sanderson .row:nth-child(2) {
  background: #f5f5f5;
  padding: 1em; }
.node-type-panopoly-landing-page .wwm-sanderson .row:nth-child(3) {
  background: #689a04; }

.node-type-training-roundtable .pane-node-field-roundtable-session-date .pane-title, .node-type-training-roundtable .pane-node-field-roundtable-session-date .pane-content {
  display: inline-block; }

.myriad-left-sidebar .panel-myriad-layout {
  padding: 0 1em;
  margin-bottom: 1em; }
  .myriad-left-sidebar .panel-myriad-layout > div:not([class]) {
    overflow: hidden; }
.myriad-left-sidebar .main-content {
  display: inline-block;
  width: 100%; }
.myriad-left-sidebar .sidebar {
  display: inline-block;
  width: 100%; }
.myriad-left-sidebar .row-two {
  border: 2px solid #689a04;
  padding: 1em;
  border-radius: 10px; }

div.panel-pane div.node.node-advertisement {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #689a04;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box; }
  div.panel-pane div.node.node-advertisement.node-ad-image-portrait .col-1, div.panel-pane div.node.node-advertisement.node-ad-amazon-book .col-1 {
    float: left;
    margin-right: 1em; }
  div.panel-pane div.node.node-advertisement.node-ad-image-landscape {
    text-align: center; }
  div.panel-pane div.node.node-advertisement .pane-node-title {
    text-align: center; }
    div.panel-pane div.node.node-advertisement .pane-node-title h2 {
      margin-top: 0;
      margin-bottom: 0.5em; }
  div.panel-pane div.node.node-advertisement .pane-node-field-ad-sub-headline {
    text-align: center; }
  div.panel-pane div.node.node-advertisement .file-image img {
    margin: auto; }
  div.panel-pane div.node.node-advertisement .file-video iframe {
    display: table;
    margin: auto; }
  div.panel-pane div.node.node-advertisement .field-items {
    margin-left: 0; }

.pane-node-field-amazon-book-listing {
  display: block; }
  .pane-node-field-amazon-book-listing .field-name-field-amazon-book-listing {
    border: 0px; }

.pane-node-field-call-to-action {
  display: table;
  margin: 1em auto 0;
  padding: 6px 12px !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e03333; }
  .pane-node-field-call-to-action a {
    color: #fff; }
  .pane-node-field-call-to-action:hover {
    background-color: #ff4242;
    text-decoration: none; }

div.panel-pane div.node.node-testimonial {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #689a04;
  margin-bottom: 2em; }
  div.panel-pane div.node.node-testimonial .field--name-field-amazon-book-listing {
    margin-bottom: 0.1em; }
    div.panel-pane div.node.node-testimonial .field--name-field-amazon-book-listing a {
      color: black; }
      div.panel-pane div.node.node-testimonial .field--name-field-amazon-book-listing a:hover {
        color: #009a43;
        text-decoration: underline; }
  div.panel-pane div.node.node-testimonial .pane-node-field-video {
    text-align: center; }
  div.panel-pane div.node.node-testimonial .book-thumbnail {
    float: left;
    margin-right: 1em; }
  div.panel-pane div.node.node-testimonial .row-one .col-1 {
    float: left;
    margin-right: 1em; }
  div.panel-pane div.node.node-testimonial .row-one .col-2 .pane-node-field-amazon-book-listing {
    display: block; }
    div.panel-pane div.node.node-testimonial .row-one .col-2 .pane-node-field-amazon-book-listing .field--name-field-amazon-book-listing a {
      color: black; }
      div.panel-pane div.node.node-testimonial .row-one .col-2 .pane-node-field-amazon-book-listing .field--name-field-amazon-book-listing a:hover {
        color: white;
        text-decoration: underline; }
    div.panel-pane div.node.node-testimonial .row-one .col-2 .pane-node-field-amazon-book-listing .pane-title {
      display: inline-block;
      float: left; }
      div.panel-pane div.node.node-testimonial .row-one .col-2 .pane-node-field-amazon-book-listing .pane-title:after {
        content: '\00a0'; }
  div.panel-pane div.node.node-testimonial .row-two .col-1 {
    float: left;
    margin-right: 1em; }
  div.panel-pane div.node.node-testimonial .row-2 .pane-node-field-amazon-book-listing {
    display: block;
    overflow: hidden; }
    div.panel-pane div.node.node-testimonial .row-2 .pane-node-field-amazon-book-listing .pane-title, div.panel-pane div.node.node-testimonial .row-2 .pane-node-field-amazon-book-listing .field-name-field-amazon-book-listing {
      display: inline-block;
      float: left; }
      div.panel-pane div.node.node-testimonial .row-2 .pane-node-field-amazon-book-listing .pane-title:after, div.panel-pane div.node.node-testimonial .row-2 .pane-node-field-amazon-book-listing .field-name-field-amazon-book-listing:after {
        content: '\00a0'; }
  div.panel-pane div.node.node-testimonial .field-items {
    margin-left: 0; }

div.panel-pane div.node.node-testimonial.node-testimonial-video {
  padding: 0; }
  div.panel-pane div.node.node-testimonial.node-testimonial-video .pane-node-field-video {
    background: #9bcb3b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1em; }
  div.panel-pane div.node.node-testimonial.node-testimonial-video .row-2 {
    padding: 0 1em 1em 1em; }
    div.panel-pane div.node.node-testimonial.node-testimonial-video .row-2 .panel-pane.pane-node-title h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em; }

div.panel-pane div.node.node-testimonial.node-testimonial-image {
  padding: 0; }
  div.panel-pane div.node.node-testimonial.node-testimonial-image .row-one {
    background: #9bcb3b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
    padding: 1em; }
    div.panel-pane div.node.node-testimonial.node-testimonial-image .row-one .pane-node-title h2 {
      margin: 0; }
  div.panel-pane div.node.node-testimonial.node-testimonial-image .row-two {
    padding: 0 1em 1em 1em; }
    div.panel-pane div.node.node-testimonial.node-testimonial-image .row-two .field--name-field-written-testimonial p {
      margin-bottom: 0; }

.action-links {
  list-style: none;
  font-size: 11px; }
  .action-links a {
    border-radius: 5px;
    margin: 0 5px 0 0;
    padding: 0 5px 0 25px;
    background: #0f753b url("../images/buttons.png") -800px 50% no-repeat;
    color: #fff;
    float: left;
    line-height: 20px; }

#block-tb-megamenu-main-menu {
  background: #6fae1b;
  background: -webkit-linear-gradient(top, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%); }
  #block-tb-megamenu-main-menu .block__content {
    display: table;
    margin: 0 auto; }
  #block-tb-megamenu-main-menu .tb-megamenu {
    background: #6fae1b;
    background: -webkit-linear-gradient(top, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%);
    background: linear-gradient(to bottom, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%); }
    #block-tb-megamenu-main-menu .tb-megamenu .nav > li > a {
      border: 0;
      font-weight: normal; }
      #block-tb-megamenu-main-menu .tb-megamenu .nav > li > a:hover {
        background: -webkit-linear-gradient(top, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%);
        background: linear-gradient(to bottom, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%);
        color: white; }
    #block-tb-megamenu-main-menu .tb-megamenu .nav > li.active > a {
      background: -webkit-linear-gradient(top, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%);
      background: linear-gradient(to bottom, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%); }
    #block-tb-megamenu-main-menu .tb-megamenu .dropdown-menu {
      border-bottom: 3px solid #9bcb3b; }

.pane-nodequeue-1-panel-pane-1 .pane-content {
  margin-top: 1em;
  margin-bottom: -1em; }
.pane-nodequeue-1-panel-pane-1 .ui-state-hover .ui-icon, .pane-nodequeue-1-panel-pane-1 .ui-state-focus .ui-icon, .pane-nodequeue-1-panel-pane-1 .ui-state-active .ui-icon {
  -webkit-filter: invert(100%) brightness(100);
          filter: invert(100%) brightness(100); }
.pane-nodequeue-1-panel-pane-1 .ui-accordion-header {
  border: 1px solid #689a04;
  margin: 5px 0 !important;
  width: 100%;
  box-sizing: border-box;
  background: #f5f5f5; }
  .pane-nodequeue-1-panel-pane-1 .ui-accordion-header:hover {
    background-color: #15a252; }
    .pane-nodequeue-1-panel-pane-1 .ui-accordion-header:hover a {
      color: white; }
.pane-nodequeue-1-panel-pane-1 .ui-accordion-header-active {
  border-bottom: 0px;
  color: white;
  background-color: #0f753b; }
  .pane-nodequeue-1-panel-pane-1 .ui-accordion-header-active:hover {
    background-color: #0f753b; }
  .pane-nodequeue-1-panel-pane-1 .ui-accordion-header-active a {
    color: white; }
.pane-nodequeue-1-panel-pane-1 .ui-accordion-content {
  border: 1px solid #689a04;
  border-top: 0px;
  margin-bottom: 10px;
  margin-top: -5px;
  padding: 0; }
.pane-nodequeue-1-panel-pane-1 .views-row {
  line-height: 2;
  border-bottom: 1px solid #ddd; }
  .pane-nodequeue-1-panel-pane-1 .views-row:last-child {
    border-bottom: 0px; }
    .pane-nodequeue-1-panel-pane-1 .views-row:last-child a {
      border-radius: 0 0 4px 4px; }
  .pane-nodequeue-1-panel-pane-1 .views-row:hover {
    background-color: #9bcb3b; }
  .pane-nodequeue-1-panel-pane-1 .views-row .field-content {
    display: block; }
    .pane-nodequeue-1-panel-pane-1 .views-row .field-content a {
      display: block;
      padding: 0 2.2em; }
  .pane-nodequeue-1-panel-pane-1 .views-row a.active {
    color: white;
    background-color: #15a252; }
.pane-nodequeue-1-panel-pane-1 .views-row-even {
  background-color: #e6e6e6; }

.views-slideshow-cycle-main-frame-row {
  width: 100%; }

table.fc-border-separate {
  border-collapse: collapse;
  border: 1px solid grey; }

.fc-day.ui-widget-content {
  border: 1px solid #cccccc; }

.row {
  margin: 0;
  padding: 0 1em; }

#block-panels-mini-footer #mini-panel-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    #block-panels-mini-footer #mini-panel-footer {
      font-size: 16px; } }
#block-panels-mini-footer .pane-menu-menu-footer-links ul.menu {
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
#block-panels-mini-footer .pane-menu-menu-footer-links .menu li {
  border-bottom: 0px;
  float: none;
  margin-left: 0;
  list-style: none;
  padding: 0 5px; }
  #block-panels-mini-footer .pane-menu-menu-footer-links .menu li a {
    color: white; }
@media (min-width: 768px) {
  #block-panels-mini-footer .pane-menu-menu-footer-links {
    width: calc(100% - 140px);
    float: left;
    display: inline-block; } }
#block-panels-mini-footer .copyright {
  color: white;
  text-align: center; }
  @media (min-width: 768px) {
    #block-panels-mini-footer .copyright {
      width: calc(100% - 140px);
      float: left;
      display: inline-block; } }
#block-panels-mini-footer .iec-logo {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%; }
  @media (min-width: 768px) {
    #block-panels-mini-footer .iec-logo p {
      margin-top: 0; } }
#block-panels-mini-footer .certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  @media (min-width: 768px) {
    #block-panels-mini-footer .certificates {
      position: absolute;
      right: 10px;
      top: 8px; } }
  #block-panels-mini-footer .certificates .certificate img {
    width: auto;
    height: 180px;
    margin-right: 10px; }

#mini-panel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #mini-panel-header .brand {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media (min-width: 768px) {
      #mini-panel-header .brand {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 640px;
                flex: 1 0 640px; } }
  #mini-panel-header .certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #mini-panel-header .certificates .certificate img {
      width: auto;
      height: 180px;
      margin-right: 10px; }
  #mini-panel-header #site-title {
    display: inline-block;
    line-height: 1;
    margin: 0;
    font-size: 3em; }
    @media (min-width: 435px) {
      #mini-panel-header #site-title {
        font-size: 4em; } }
    @media (min-width: 640px) {
      #mini-panel-header #site-title {
        font-size: 5em; } }
  #mini-panel-header .site-title-1 {
    white-space: nowrap;
    float: right;
    clear: both; }
    @media (min-width: 640px) {
      #mini-panel-header .site-title-1 {
        float: none; } }
  #mini-panel-header .site-title-2 {
    white-space: nowrap;
    float: right;
    clear: both;
    margin-right: 0.9em;
    margin-top: -0.5em; }
    @media (min-width: 640px) {
      #mini-panel-header .site-title-2 {
        float: none;
        margin: 0; } }
    #mini-panel-header .site-title-2 .blue {
      color: #4285F4; }
    #mini-panel-header .site-title-2 .yellow {
      color: #F3B500; }
    #mini-panel-header .site-title-2 .red {
      color: #EA4335; }
  #mini-panel-header #logo img {
    height: 61px;
    width: auto; }
    @media (min-width: 435px) {
      #mini-panel-header #logo img {
        height: 100px; } }
  #mini-panel-header .logo-container {
    display: inline-block;
    vertical-align: top;
    top: -13px;
    right: 20px;
    margin: 0; }
    @media (min-width: 435px) {
      #mini-panel-header .logo-container {
        position: relative; } }
    @media (min-width: 640px) {
      #mini-panel-header .logo-container {
        position: initial;
        vertical-align: initial; } }
  #mini-panel-header .pane-page-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0; }
  #mini-panel-header .pane-page-site-name {
    font-size: 2.1em;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto; }
    @media (min-width: 568px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2em;
        -webkit-box-flex: 4;
            -ms-flex: 4;
                flex: 4; } }
    @media (min-width: 768px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      #mini-panel-header .pane-page-site-name {
        font-size: 2.5em; } }
  #mini-panel-header .pane-page-slogan {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 1em;
    min-width: 250px; }
    @media (min-width: 768px) {
      #mini-panel-header .pane-page-slogan {
        font-size: 18px; } }
  #mini-panel-header .pane-2 {
    text-align: center; }
  #mini-panel-header .pane-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto; }

.front .wwm-sanderson .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .front .wwm-sanderson .row > div[class*="col-"] {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
    padding: 15px;
    width: 0;
    min-width: 300px;
    font-size: 16px; }
    .front .wwm-sanderson .row > div[class*="col-"] img {
      width: 100px; }
    .front .wwm-sanderson .row > div[class*="col-"] img.ad-image-landscape {
      width: auto; }
    .front .wwm-sanderson .row > div[class*="col-"] div.node.node-testimonial,
    .front .wwm-sanderson .row > div[class*="col-"] div.node.node-advertisement {
      margin-bottom: 0; }
  .front .wwm-sanderson .row:first-child {
    padding: 1em; }
@media (min-width: 648px) {
  .front .wwm-sanderson .row:first-child > div[class*="col-"] {
    min-width: 450px; }
  .front .wwm-sanderson .row:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .front .wwm-sanderson .row:nth-child(2) > div[class*="col-"] {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 400px; }
  .front .wwm-sanderson .row:last-child > div[class*="col-"] {
    min-width: 350px; } }
@media (min-width: 940px) and (max-width: 1279px) {
  .front .wwm-sanderson .row:first-child {
    float: left;
    width: calc(65% - 1em);
    margin: 0 0 0 1em; }
  .front .wwm-sanderson .row:nth-child(2) {
    float: right;
    width: 35%;
    padding: 0; }
    .front .wwm-sanderson .row:nth-child(2) > div[class*="col-"] {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 300px;
              flex: 1 0 300px;
      max-width: initial;
      min-width: 300px; }
      .front .wwm-sanderson .row:nth-child(2) > div[class*="col-"]:first-child {
        padding-top: 0; }
  .front .wwm-sanderson .row:last-child {
    float: left;
    width: calc(65% - 1em);
    margin-top: 1em;
    margin-left: 1em; } }
@media (min-width: 1280px) {
  .front .wwm-sanderson .row {
    float: none; }
    .front .wwm-sanderson .row > div[class*="col-"] {
      font-size: 18px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 300px;
              flex: 1 0 300px;
      max-width: initial; }
      .front .wwm-sanderson .row > div[class*="col-"] img {
        width: 150px; }
      .front .wwm-sanderson .row > div[class*="col-"] img.ad-image-landscape {
        width: auto; }
  .front .wwm-sanderson .row:nth-child(2) > div[class*="col-"] {
    max-width: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px; } }

.view-course-tabs .jcarousel-container {
  height: auto;
  padding: 0 40px;
  position: relative;
  top: 2px; }
  .view-course-tabs .jcarousel-container .jcarousel-clip-horizontal {
    box-sizing: border-box; }
  .view-course-tabs .jcarousel-container .jcarousel-item-horizontal {
    height: auto;
    width: auto;
    padding: 0.5em 1em;
    border-bottom: 2px solid #689a04;
    border-radius: 10px 10px 0 0;
    background-color: #8BBF50;
    position: relative;
    overflow: visible;
    margin: 0 11px; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:hover {
      background-color: #fff; }
      .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:hover a {
        color: black; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal.active {
      border-color: #689a04;
      border-bottom: 2px solid transparent;
      background-color: #f5f5f5;
      border-width: 2px; }
      .view-course-tabs .jcarousel-container .jcarousel-item-horizontal.active:before {
        z-index: 1;
        border-width: 2px;
        border-color: #689a04;
        border-bottom: 2px solid transparent; }
      .view-course-tabs .jcarousel-container .jcarousel-item-horizontal.active:after {
        border-width: 2px; }
      .view-course-tabs .jcarousel-container .jcarousel-item-horizontal.active a {
        color: black; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:first-child {
      margin-left: 23px; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:last-child {
      margin-right: 2em; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:before, .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:after {
      content: " ";
      position: absolute;
      top: 0;
      width: 23px;
      height: 100%;
      background: inherit;
      border-bottom: inherit; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:before {
      left: -13px;
      border-radius: 12px 0 0 0;
      -webkit-transform: skew(-24deg);
              transform: skew(-24deg);
      border-left: 1px solid #cccccc; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal:after {
      border-radius: 0 12px 0 0;
      -webkit-transform: skew(24deg);
              transform: skew(24deg);
      right: -13px;
      border-right: 1px solid #628E2F;
      z-index: 1; }
    .view-course-tabs .jcarousel-container .jcarousel-item-horizontal a {
      color: white; }
  .view-course-tabs .jcarousel-container .jcarousel-next-horizontal {
    right: 0px;
    top: 0px;
    background-position: 15px -26px; }
    .view-course-tabs .jcarousel-container .jcarousel-next-horizontal:hover {
      background-position: -17px -26px; }
  .view-course-tabs .jcarousel-container .jcarousel-prev-horizontal {
    left: 0px;
    top: 0px;
    background-position: 1px 8px; }
    .view-course-tabs .jcarousel-container .jcarousel-prev-horizontal:hover {
      background-position: -31px 8px; }
  .view-course-tabs .jcarousel-container .jcarousel-prev-horizontal,
  .view-course-tabs .jcarousel-container .jcarousel-next-horizontal {
    width: 48px;
    height: 100%;
    border-top: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    background-color: #f5f5f5;
    border-bottom: 2px solid #689a04;
    z-index: 1; }
    .view-course-tabs .jcarousel-container .jcarousel-prev-horizontal:before,
    .view-course-tabs .jcarousel-container .jcarousel-next-horizontal:before {
      content: " ";
      position: absolute;
      background-color: inherit;
      display: block;
      width: 23px;
      height: 100%;
      left: -13px;
      -webkit-transform: skew(-24deg);
              transform: skew(-24deg);
      border-radius: 12px 0 0 0;
      border-left: 1px solid #628E2F; }
    .view-course-tabs .jcarousel-container .jcarousel-prev-horizontal:after,
    .view-course-tabs .jcarousel-container .jcarousel-next-horizontal:after {
      content: " ";
      position: absolute;
      background-color: inherit;
      display: block;
      width: 23px;
      height: 100%;
      right: -13px;
      -webkit-transform: skew(24deg);
              transform: skew(24deg);
      border-radius: 0 12px 0 0;
      border-right: 1px solid #628E2F; }

/* These are styles for the login and registration pages. */
.page-user-login .radix-layouts-content, .page-user-password .radix-layouts-content {
  padding: 2em 1em 1em 1em;
  border-radius: 10px;
  border: 2px solid #689a04;
  margin-bottom: 1em; }
.page-user-login fieldset.captcha, .page-user-password fieldset.captcha {
  border-radius: 10px;
  text-align: center;
  max-width: 554px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  .page-user-login fieldset.captcha legend, .page-user-password fieldset.captcha legend {
    text-align: left;
    font-weight: bold; }
.page-user-login #edit-submit, .page-user-password #edit-submit {
  color: #fff;
  display: table;
  margin: 1em auto;
  padding: 6px 12px !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #449d44; }
  .page-user-login #edit-submit:hover, .page-user-password #edit-submit:hover {
    background-color: #5cb85c;
    text-decoration: none; }

form#user-login, form#user-pass {
  margin: 0; }
  form#user-login input, form#user-pass input {
    font-size: 1em; }
  form#user-login > div > .form-item, form#user-pass > div > .form-item {
    display: table;
    margin: 0 auto 1em; }
  form#user-login .g-recaptcha, form#user-pass .g-recaptcha {
    display: table;
    margin: auto; }
  form#user-login #edit-actions, form#user-pass #edit-actions {
    text-align: center; }

#block-superfish-1 {
  display: table;
  margin: 0 auto; }
  #block-superfish-1 #superfish-1 {
    background: #6fae1b;
    background: -webkit-linear-gradient(top, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%);
    background: linear-gradient(to bottom, #1e5799 0%, #badc68 0%, #6fae1b 98%, #6fae1b 100%);
    border-radius: 5px; }
    #block-superfish-1 #superfish-1 li {
      background: transparent; }
      #block-superfish-1 #superfish-1 li:first-child a {
        border-radius: 5px 0 0 5px; }
      #block-superfish-1 #superfish-1 li:last-child a {
        border-radius: 0 5px 5px 0; }
      #block-superfish-1 #superfish-1 li a {
        border: 0px;
        color: white; }
        #block-superfish-1 #superfish-1 li a:hover, #block-superfish-1 #superfish-1 li a.active {
          background: -webkit-linear-gradient(top, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%);
          background: linear-gradient(to bottom, #1e5799 0%, #a7c45d 0%, #538014 99%, #538014 100%); }
        #block-superfish-1 #superfish-1 li a:focus {
          background: white;
          color: #e54e4b; }
    #block-superfish-1 #superfish-1 li.menuparent ul {
      background: white;
      border-bottom: 2px solid #6fae1b; }
      #block-superfish-1 #superfish-1 li.menuparent ul a {
        background: white;
        color: black; }
        #block-superfish-1 #superfish-1 li.menuparent ul a:hover {
          color: #e54e4b; }
  #block-superfish-1 #superfish-1-toggle {
    display: block;
    text-align: center;
    background-color: #0F753D;
    color: white;
    border-radius: 10px; }
    #block-superfish-1 #superfish-1-toggle.sf-expanded {
      background-color: #2ea328;
      border-radius: 10px 10px 0 0; }
  #block-superfish-1 #superfish-1-accordion li {
    background-color: white; }
    #block-superfish-1 #superfish-1-accordion li.active-trail {
      background-color: #0f753b; }
      #block-superfish-1 #superfish-1-accordion li.active-trail > a {
        color: white; }
    #block-superfish-1 #superfish-1-accordion li:last-child {
      border-radius: 0 0 10px 10px; }
    #block-superfish-1 #superfish-1-accordion li:hover a:hover {
      background-color: #f8fff0;
      color: #0f753b; }
    #block-superfish-1 #superfish-1-accordion li a {
      border-top: 1px solid #f5f5f5;
      color: #0f753b; }
      #block-superfish-1 #superfish-1-accordion li a:hover, #block-superfish-1 #superfish-1-accordion li a:focus {
        background-color: #f8fff0; }
  @media (min-width: 605px) and (max-width: 660px) {
    #block-superfish-1 {
      font-size: 12px; } }
  @media (min-width: 661px) and (max-width: 698px) {
    #block-superfish-1 {
      font-size: 13px; } }
  @media (min-width: 699px) and (max-width: 789px) {
    #block-superfish-1 {
      font-size: 14px; } }
  @media (min-width: 790px) and (max-width: 890px) {
    #block-superfish-1 {
      font-size: 16px; } }

body.maintenance-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent; }
  body.maintenance-page .l-page {
    max-width: 960px;
    background: #f5f5f5;
    padding: 2em 3em;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #9bcb3b;
    text-align: center;
    box-shadow: 0px 0px 0px 2px rgba(245, 245, 245, 0.5); }
  body.maintenance-page .site-name {
    display: inline-block;
    font-family: 'Italianno', Georgia, "Times New Roman", Times, serif;
    font-size: 5em;
    font-style: normal;
    font-weight: normal;
    margin: 0; }
  body.maintenance-page .site-slogan {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 5.5em;
    font-style: italic; }
  body.maintenance-page .l-content {
    margin-bottom: 2em; }
    body.maintenance-page .l-content h1 {
      margin: 2em;
      text-transform: capitalize; }

.media-youtube-video,
.media-vimeo-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .media-youtube-video iframe,
  .media-vimeo-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(1, 148, 1, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 255, 0, 0.4); }

/* For IE */
body {
  scrollbar-face-color: rgba(1, 148, 1, 0.8); }

/* For other browsers */
.jspVerticalBar {
  width: 12px;
  background: transparent; }

.jspTrack {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.jspDrag {
  border-radius: 10px;
  background: rgba(1, 148, 1, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.jspScrollable, .jspContainer {
  width: 100% !important; }

.jspPane {
  width: calc(100% - 14px) !important; }

#header,
#branding .limiter,
#page-title,
#console,
#page,
#footer {
  max-width: 1360px;
  margin: 0 auto; }

#header {
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 15px; }

#page {
  background: #f5f5f5;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding: 0em;
  box-sizing: border-box; }

.tabs {
  float: right;
  margin-top: 5.5px; }

.primary-tabs {
  height: 30px;
  margin: 15px 0 0;
  border-radius: 5px; }
  .primary-tabs .tabs--primary {
    margin-bottom: 0;
    border-bottom: 0; }
  .primary-tabs li {
    margin-right: 0;
    height: 30px;
    position: relative;
    background: #eee url(../images/bleeds.png) 50% 0 no-repeat;
    margin-bottom: 10px; }
    .primary-tabs li:first-child {
      border-radius: 5px 0 0 5px; }
    .primary-tabs li:last-child {
      border-radius: 0 5px 5px 0; }
    .primary-tabs li :hover {
      background-color: #f8f8f8; }
    .primary-tabs li.active {
      background-color: #0f753b; }
  .primary-tabs a {
    background: transparent;
    font-size: 13px;
    float: left;
    text-align: center;
    min-width: 70px;
    padding: 5px 10px;
    color: #333;
    text-shadow: #fff 0 1px 0;
    height: 30px;
    line-height: 20px;
    box-sizing: border-box; }
    .primary-tabs a.active {
      background-color: transparent;
      color: #fff;
      text-shadow: #33aa58 0 1px 0; }

.page-title {
  display: inline-block;
  font-size: 1.8em; }

.action-links {
  display: inline-block;
  vertical-align: top;
  margin-top: 31px; }

.wwm-sanderson .row:first-child .radix-layouts-column2 .panels-ipe-region {
  padding: 1em;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 2px solid #9bcb3b; }
.wwm-sanderson .row:first-child .radix-layouts-column2 .page-block-title {
  font-size: 1.4em;
  margin: 0; }
.wwm-sanderson .row:first-child .radix-layouts-column2 .pane-1 {
  max-height: 275px;
  overflow-y: scroll; }

#footer {
  background: #0f753b;
  position: relative;
  z-index: 10; }

#panels-ipe-control-container {
  left: 0; }

.field--name-field-video {
  text-align: center; }

.pane-node-title {
  text-align: center;
  line-height: 1; }

.pane-node-field-resources .field-collection-container {
  border-bottom: 0px;
  margin-bottom: 0px; }
.pane-node-field-resources .field--name-field-resource-documents {
  margin-bottom: 1em; }

.messages {
  border-radius: 10px; }

.pane-panopoly-faq-demo-listing .view-panopoly-faq {
  margin-top: 3em; }

.field--name-field-amazon-book-listing img {
  width: 150px;
  height: auto; }

h3.pane-node-field-ad-sub-headline {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

img.testimonial-image {
  border-radius: 5px; }

.pane-superfish-2 {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#superfish-2 {
  margin: 0 auto;
  display: table; }
  #superfish-2 li {
    border-radius: 10px 10px 0 0;
    background: #ccc; }
    #superfish-2 li.active-trail {
      background: #0e7239; }
      #superfish-2 li.active-trail a {
        color: white; }
    #superfish-2 li a {
      padding: 0.6em 0.3em;
      color: black;
      border-top: 0px;
      border-radius: 10px 10px 0 0; }
      #superfish-2 li a:hover {
        background-color: #dbdcdf; }

.view-id-roundtable_sessions {
  text-align: center; }

.pane-node-field-roundtable-session-date {
  text-align: center; }

/*# sourceMappingURL=sp123-omega.styles.css.map */