// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.

@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "variables/*";
@import "abstractions/*";
@import "base/*";
@import "components/*";

body {
	margin: 0;
	background: url('../images/main-bg.jpg') repeat;
}

#header,
#branding .limiter,
#page-title,
#console,
#page,
#footer {
	max-width: 1360px;
	margin: 0 auto;
}

#header {
	background: #f5f5f5;
	box-sizing: border-box;
	padding: 15px;
}

#mini-panel-header {
	display: flex;
	width: 100%;
	margin-bottom: 0px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

	#site-title {
		display: inline-block;
		line-height: 1;
		text-align: right;
		margin: 0;
		vertical-align: middle;
	}

	.site-title-1 {
		font-size: 3em;
	}
	.site-title-2 {
		color: #9bcb3c;
		display: block;
		font-size: 2.8em;
		margin-right: 0.8em;
		margin-top: -28px;
	}

	#logo img {
		height: 80px;
		width: auto;
	}

	.logo-container {
		display: inline-block;
	}

	.pane-page-logo {
		flex: 0;
	}

	.pane-page-site-name {
		font-size: 2.1em ;
		line-height: 1.5;
		text-align: center;
		flex: 1 0;

		@include breakpoint(568px) {
			font-size: 2em;
			flex: 4;
		}
		@include breakpoint(768px) {
			font-size: 2.2em;
		}
		@include breakpoint(1024px) {
			font-size: 2.5em;
		}
	}
	.pane-page-slogan {
		font-size: 1em;
		line-height: 1.5;
		text-align: center;
		flex: 1 1 100%;

		@include breakpoint(568px) {
			flex: 5;
		}
		@include breakpoint(1024px) {
			font-size: 1.2em;
		}
	}
}

#page {
	background: #f5f5f5;
}

.tabs {
	float: right;
	margin-top: 5.5px;
}

.primary-tabs {
	height: 30px;
    margin: 15px 0 0;
    border-radius: 5px;

    .tabs--primary {
    	margin-bottom: 0;
    	border-bottom: 0;
    }

    li {
    	margin-right: 0;
    	height: 30px;
	    position: relative;
	    background: #eee url(../images/bleeds.png) 50% 0 no-repeat;
	    margin-bottom: 10px;

	    &:first-child {
	    	border-radius: 5px 0 0 5px;
	    }
	    &:last-child {
	    	border-radius: 0 5px 5px 0;
	    }
	    :hover {
	    	background-color: #f8f8f8;
	    }

	    &.active {
	    	background-color: $primary;
	    }
    }

    a {
    	background: transparent;
    	font-size: 13px;
    	float: left;
	    text-align: center;
	    min-width: 70px;
	    padding: 5px 10px;
	    color: #333;
	    text-shadow: #fff 0 1px 0;
	    height: 30px;
    	line-height: 20px;

    	&.active {
    		background-color: transparent;
    		color: #fff;
    		text-shadow: #33aa58 0 1px 0;
    	}
    }
}

.page-title {
	display: inline-block;
}

.action-links {
	display: inline-block;
    vertical-align: top;
    margin-top: 31px;
}

.wwm-sanderson {
	.row:first-child {
		.radix-layouts-column2 {
			.panel-panel-inner {
				background-color: rgba(245,245,245,0.5);
			    padding: 5px;
			    border-radius: 9px;

			    .panels-ipe-region {
			    	padding: 1em;
				    border-radius: 5px;
				    background-color: #f5f5f5;
				    border: 2px solid #9bcb3b;
			    }
			}

			.page-block-title {
				font-size: 1.8em;
				margin: 0;
			}

			.pane-1 {
				max-height: 275px;
		    	overflow-y: scroll;
			}
		}
	}
}

#footer {
	background: $primary;
	position: relative;
	z-index: 10;
}

#block-panels-mini-footer {
  #mini-panel-footer {
    display: block;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      display: flex;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      display: block;
    }
    
    @include breakpoint(768px (orientation landscape)) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .pane-custom.pane-2 {
  	color: white;
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 1em;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;
      padding-top: 5px;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
    }

    
    @include breakpoint(768px (orientation landscape)) {
      flex: 0 auto;
      width: auto;
      margin-bottom: 0px;
    }
  }

  .pane-menu-menu-footer-links {
    float: right;
    width: 50%;

    ul.menu {
      text-align: center;
      margin: 0;
    }

    .menu li {
      border-bottom: 0px;
      float: none;
      margin-left: 0;
      list-style: none;
      padding: 0 5px;

      a {
        color: white;
      }
    }

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;

      ul.menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
      float: left;
      clear: left;

      ul.menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }
    
    @include breakpoint(768px (orientation landscape)) {
      flex: 0 auto;
      width: auto;

      .menu li {
        float: left;

        &:first-child {
          margin-left: 2em;
        }
      }
    }
  }

  .pane-custom.pane-3 {
    float: left;
    width: 50%;
    text-align: center;

    @include breakpoint(0px (max-width 767px) (orientation landscape)) {
      width: auto;
      padding-top: 5px;
    }

    @include breakpoint(768px (max-width 1024px) (orientation portrait)) {
      width: 50%;
      position: absolute;
      right: 0;
    }
  }
}