.blog-type-page #main-content{
	.panel-myriad-layout {
		display: flex;
		flex-flow: row wrap;
		padding: 1em;

		.main-content {
			flex: 3 0 0;
    		min-width: 560px;
		}

		.sidebar-content {
			flex: 1 1 0;
		    min-width: 300px;
		    margin-left: 1em;
		}

		.pane-articles-test-panel-pane-6 {
			background: url(../images/banner.jpg) center center;
		    background-size: cover;
		}

		.featured-display .view-content {
			display: flex;

		    .views-row {
		    	width: 50%;
			    display: inline-block;
			    flex: 1 0;
			    min-width: 300px;

			    &:first-child {
			    	padding-right: 0.5em;
			    }

			    &:last-child {
			    	padding-right: 0.5em;
			    }

			    .featured-image img {
			    	width: 100%;
			    	height: auto;
			    }
		    }
		}
	}
}