.blog-type-page #main-content{
	.panel-myriad-layout {
		display: flex;
		flex-flow: row wrap;
		padding: 1em;

		.row-one {
			display: flex;
			flex-flow: row wrap;
			width: 100%;
		}

		.main-content {
			flex: 3 0 0;
    		min-width: 560px;
    		padding: 0.5em;
		}

		.sidebar-content {
			flex: 1 1 0;
		    min-width: 300px;
		    margin: 0.5em;
		}

		.view-display-id-panel_pane_1 .view-content {
			padding: 0.5em;
		}

		.pane-articles-test-panel-pane-6,
		.pane-news-test-panel-pane-6,
		.pane-press-releases-test-panel-pane-6 {
			background: url(../images/banner.jpg) center center;
		    background-size: cover;
		}

		.featured-display .view-content {
			display: flex;
			flex-flow: row wrap;

		    .views-row {
		    	width: 50%;
			    flex: 1 0;
			    min-width: 300px;
			    padding: 0.5em;
			    margin: 0.5em;
			    border: 2px solid #689a04;
			    border-radius: 5px;
			    background-color: #f5f5f5;

			    .featured-image img {
			    	width: 100%;
			    	height: auto;
			    }
		    }

		    .scroll-pane {
		    	max-height: 500px;
    			overflow: auto;
		    }

		    .views-field-title h2 {
		    	text-align: center;
    			margin: 0;
		    }
		    .views-field-published-at {
		    	text-align: center;
		    	margin-bottom: 1em;
		    }
		    .views-field-name {
		    	display: block;
			    text-align: center;
			    margin-bottom: 1em;
		    }
		    .views-field-body img {
		    	width: 100%;
		    	height: auto;
		    }
		}

		.pane-ad-cycles-ad-blog .view-content {
			display: flex;
			flex-flow: row wrap;

			.views-row {
				flex: 1 30%;
				min-width: 300px;
				margin: 0.5em;
				padding: 0;

				.panel-display {
					padding: 0;
				}
				.panel-flexible {
					padding: 1em;
				}

				h2 {
					margin: 0.5em 0 0 0;
					text-align: center;
				}
				h3 {
					margin: 0 0 0.5em 0;
					text-align: center;
				}

				.col-1, .col-2 {
					width: 100%;
				}
				.col-1 {
					background-color: #9bcb3b;
    				padding: 1em;
    				border-radius: 8px 8px 0 0;
				}
				.col-2 {
					padding: 0 1em 1em 1em;
				}

				.pane-node-field-ad-image {
					text-align: center;
				}

				.field--name-field-amazon-book-listing {
					text-align: center;
				}
			}			
		}

		.main-display .view-content {
			display: flex;
			flex-flow: row wrap;
			background-color: #689a04;

			.views-row {
				flex: 1 30%;
				min-width: 300px;
				margin: 0.5em;
				background-color: white;

				.views-field-field-featured-image,
				.views-field-title {
					text-align: center;
					margin-bottom: 0;
				}
				.views-field-name,
				.views-field-published-at {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

.node-type-article-post,
.node-type-panopoly-news-article {
	.field--name-field-featured-image {
		float: left;
    	margin-right: 1em;
	}
}
