.boxed {
	border: 1px solid #4cae4c;
	padding: 1em;
	margin: 1em 0;
	position: relative;

	h2, h3 {
		position: absolute;
		margin: 0;
		top: -11px;
		background: white;
		padding: 0 1em;
		display: inline-block !important;

		&.ctools-collapsible-handle {
		  padding-left: 1em;
		}
	}

	.ctools-toggle {
		position: absolute;
		top: -10px;
		z-index: 1;
	}
}

.node-type-panopoly-landing-page .radix-sanderson {
	.row:first-child {
		background: url("../images/banner.jpg") center center;
		background-size: cover;
		padding: 5em 2em;
	}
}

.myriad-left-sidebar {
  .main-content {
    width: calc(70% - 1em);
    display: inline-block;
    margin-left: 1em;
  }
  .sidebar {
    float: left;
    width: calc(30% - 1em);
    display: inline-block;
    margin-right: 1em;
  }
}

div.panel-pane div.node.node-advertisement {
  padding: 1em;
  border: 1px solid #4cae4c;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box;

  &.node-ad-image-portrait,
  &.node-ad-amazon-book {
    .col-1 {
      float: left;
      margin-right: 1em;
    }
  }

  &.node-ad-image-landscape {
    text-align: center;
  }

  .pane-node-title {
    text-align: center;
  }
  .pane-node-field-ad-sub-headline {
    text-align: center;
  }

  .file-image img {
    margin: auto;
  }
  .file-video iframe {
    display: table;
    margin: auto;
  }

  .field-items {
    margin-left: 0;
  }
}

.pane-node-field-amazon-book-listing {
  display: table;

  .field-name-field-amazon-book-listing {
    border: 0px;
  }
}

.pane-node-field-call-to-action {
  display: table;
  margin: 1em auto;
  padding: 6px 12px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #5cb85c;
  border-color: #4cae4c;

  a {
    color: #fff;
  }

  &:hover {
    background-color: #449d44;
    border-color: #398439;
    text-decoration: none;
  }
}

div.panel-pane div.node.node-testimonial {
  padding: 1em;
  border: 1px solid #4cae4c;
  margin-bottom: 2em;

  .pane-node-field-video {
    text-align: center;
  }

  .book-thumbnail {
    float: left;
    margin-right: 1em;
  }

  .row-one {
    .col-1 {
      float: left;
      margin-right: 1em;
    }
    .col-2{
      .pane-node-field-amazon-book-listing {
        display: block;
        overflow: hidden;

        .pane-title, .field-name-field-amazon-book-listing {
          display: inline-block;
        }
      }
    }
  }

  .row-two .col-1 {
    float: left;
    margin-right: 1em;
  }

  .row-2 {
    .pane-node-field-amazon-book-listing {
      display: block;
      overflow: hidden;

      .pane-title, .field-name-field-amazon-book-listing {
        display: inline-block;
      }
    }
  }

  .field-items {
    margin-left: 0;
  }
}