.boxed {
	border: 1px solid #4cae4c;
	padding: 1em;
	margin: 1em 0;
	position: relative;

	h2, h3 {
		position: absolute;
		margin: 0;
		top: -11px;
		background: white;
		padding: 0 1em;
		display: inline-block !important;

		&.ctools-collapsible-handle {
		  padding-left: 1em;
		}
	}

	.ctools-toggle {
		position: absolute;
		top: -10px;
		z-index: 1;
	}
}

.node-type-panopoly-landing-page .radix-sanderson {
	.row:first-child {
		background: url("../../images/banner.jpg") center center;
		background-size: cover;
	}
}