.boxed {
	border-radius: 10px;
	border: 2px solid #689a04;
	padding: 1em;
	margin: 1em 0;
	position: relative;

	.pane-title {
		background-color: #f5f5f5;
		position: absolute;
		margin: 0;
		top: -15px;
		padding: 0 1em;
		display: inline-block !important;
    font-size: 1.15em;

		&.ctools-collapsible-handle {
		  padding-left: 1em;
		}
	}

	.ctools-toggle {
		position: absolute;
		top: -10px;
		z-index: 1;
	}
}

.node-type-panopoly-landing-page .wwm-sanderson {
	.row {
		margin: 0;
		padding: 2em;
	}
	.row:first-child {
		background: url("../images/banner.jpg") center center;
		background-size: cover;
    border: 2px solid #689a04;
    border-radius: 10px;
    margin: 0 1em;
	}

	.row:nth-child(2) {
		background: #f5f5f5;
    padding: 1em;
	}

	.row:nth-child(3) {
		background: #689a04;
	}
}

.node-type-training-roundtable {
  .pane-node-field-roundtable-session-date {
    .pane-title, .pane-content {
      display: inline-block;
    }
  }
}

.myriad-left-sidebar {
  .panel-myriad-layout {
    padding: 0 1em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;


    &>div:not([class]) {
      overflow: hidden;
    }
  }
  .main-content {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;

    @include breakpoint(950px) {
      margin-left: 1em;
      flex: 1 0;
      order: 1;
    }
  }
  .sidebar {
    width: 100%;
    min-width: 275px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    @include breakpoint(950px) {
      display: inline-block;
      margin-right: 1em;
      flex: 0 300px;
    }

    > .panel-pane {
      @include breakpoint(0px 949px) {
        flex: 1 300px;
        min-width: 300px;
        display: inline-block;
        margin: 0.5em;
      }
    }
  }
}

.tabbed-course {
  .panel-myriad-layout {
    padding: 0 1em;
    margin-bottom: 1em;
    
    .row-two {
      border: 2px solid #689a04;
      padding: 1em;
      border-radius: 10px;
      display: flex;
      flex-flow: row wrap;

      .main-content {
        display: inline-block;
        width: 100%;
        margin-bottom: 2em;

        @include breakpoint(950px) {
          margin-left: 1em;
          flex: 1 0;
          order: 1;
        }
      }
      .sidebar {
        width: 100%;
        min-width: 275px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;

        @include breakpoint(950px) {
          display: inline-block;
          margin-right: 1em;
          flex: 0 300px;
        }

        > .panel-pane {
          @include breakpoint(0px 949px) {
            flex: 1 300px;
            min-width: 300px;
            display: inline-block;
            margin: 0.5em;
          }
        }
      }
    }

    .pane-node-title {
      h2:not([class]) {
        margin-top: 0.5em;
      }
      h2.pane-title {
        margin-bottom: 0.5em;
      }
    }
  }
}

.pane-roundtable-sessions-jump-menu .view-display-id-jump_menu {
  margin-top: 1em;

  @include breakpoint(398px) {
    margin-top: 0;
  }
  @include breakpoint(768px) {
    margin-top: 1em;
  }
}

.sidebar {
  div.panel-pane div.node.node-advertisement {
    &.node-ad-image-portrait,
    &.node-ad-amazon-book {
      .panel-display {
        padding: 0;
        margin: 0;
      }

      .col-1 {
        float: none;
        margin: 0;
        text-align: center;
        width: 100%;
      }
      .col-2 {
        width: 100%;
        text-align: center;
      }
    }
  } 

  .pane-ad-cycles-ad-random {
    .panel-display {
      padding: 0;
      margin-bottom: 0;

      .col-1, .col-2 {
        width: 100%;
      }
    }

    .views-slideshow-cycle-main-frame-row {
      h2 {
        margin: 0.5em 0 0 0;
        text-align: center;
      }
      h3 {
        margin: 0 0 0.5em 0;
        text-align: center;
      }
    }

    .pane-node-field-ad-image {
      text-align: center;
    }
  }
}

div.panel-pane div.node.node-advertisement {
 	background-color: #f5f5f5;
  padding: 1em;
	border-radius: 10px;
	border: 2px solid #689a04;
	margin-bottom: 2em;
	width: 100%;
	box-sizing: border-box;

  &.node-ad-image-portrait,
  &.node-ad-amazon-book {
    .col-1 {
      float: left;
      margin-right: 1em;
    }
  }

  &.node-ad-image-landscape {
    text-align: center;
  }

  .pane-node-title {
    text-align: center;

    h2 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
  .pane-node-field-ad-sub-headline {
    text-align: center;
  }

  .file-image img {
    margin: auto;
  }
  .file-video iframe {
    display: table;
    margin: auto;
  }

  .field-items {
    margin-left: 0;
  }
}

.pane-node-field-amazon-book-listing {
  display: block;

  .field-name-field-amazon-book-listing {
    border: 0px;
  }
}

.pane-node-field-call-to-action {
  display: table;
  margin: 1em auto 0;
  padding: 6px 12px !important;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #e03333;

  a {
    color: #fff;
  }

  &:hover {
    background-color: #ff4242;
    text-decoration: none;
  }
}

div.panel-pane div.node.node-testimonial {
	background-color: #f5f5f5;
  padding: 1em;
	border-radius: 10px;
	border: 2px solid #689a04;
  margin-bottom: 2em;

  .field--name-field-amazon-book-listing {
    margin-bottom: 0.1em;

    a {
      color: black;
  
      &:hover {
        color: #009a43;
        text-decoration: underline;
      }
    }
  }

	.pane-node-field-video {
		text-align: center;
	}

	.book-thumbnail {
		float: left;
		margin-right: 1em;
	}

	.row-one {
		.col-1 {
			float: left;
			margin-right: 1em;
		}
		.col-2 {
			.pane-node-field-amazon-book-listing {
				display: block;

        .field--name-field-amazon-book-listing a {
          color: black;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }

				.pane-title {
			  	display: inline-block;
          float: left;

          &:after {
            content: '\00a0';
          }
				}
			}
		}
	}

  .row-two .col-1 {
    float: left;
    margin-right: 1em;
  }

  .row-2 {
    .pane-node-field-amazon-book-listing {
      display: block;
      overflow: hidden;

      .pane-title, .field-name-field-amazon-book-listing {
        display: inline-block;
        float: left;

        &:after {
          content: '\00a0';
        }
      }
    }
  }

  .field-items {
    margin-left: 0;
  }
}

div.panel-pane div.node.node-testimonial.node-testimonial-video {
	padding: 0;

	.pane-node-field-video {
		background: #9bcb3b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
		padding: 1em;
	}
	.row-2 {
		padding: 0 1em 1em 1em;

    .panel-pane.pane-node-title h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
	}
}

div.panel-pane div.node.node-testimonial.node-testimonial-image {
	padding: 0;

	.row-one {
		background: #9bcb3b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
		color: black;
		padding: 1em;

		.pane-node-title h2 {
			margin: 0;
		}
	}

	.row-two {
		padding: 0 1em 1em 1em;

    .field--name-field-written-testimonial p {
      margin-bottom: 0;
    }
	}
}

.action-links {
	list-style: none;
    font-size: 11px;

	a {
		border-radius: 5px;
	    margin: 0 5px 0 0;
	    padding: 0 5px 0 25px;
	    background: $primary url('../images/buttons.png') -800px 50% no-repeat;
	    color: #fff;
	    float: left;
	    line-height: 20px
	}
}

#block-tb-megamenu-main-menu {
	background: #6fae1b;
	background: linear-gradient(to bottom, #1e5799 0%,#badc68 0%,#6fae1b 98%,#6fae1b 100%);

	.block__content {
		display: table;
    	margin: 0 auto;
	}

	.tb-megamenu {
		background: #6fae1b;
		background: linear-gradient(to bottom, #1e5799 0%,#badc68 0%,#6fae1b 98%,#6fae1b 100%);

		.nav {
			& > li > a {
				border: 0;
				font-weight: normal;

				&:hover {
					background: linear-gradient(to bottom, #1e5799 0%,#a7c45d 0%,#538014 99%,#538014 100%);
					color: white;
				}
			}
			& > li.active > a {
				background: linear-gradient(to bottom, #1e5799 0%,#a7c45d 0%,#538014 99%,#538014 100%);
			}
		}

		.dropdown-menu {
			border-bottom: 3px solid #9bcb3b;
		}
	}
}

.pane-nodequeue-1-panel-pane-1 {
  .pane-content {
    margin-top: 1em;
    margin-bottom: -1em;
  }

  .ui-state-hover, .ui-state-focus, .ui-state-active {
    .ui-icon {
      filter: invert(100%) brightness(100);
    }
  }
  .ui-accordion-header {
    border: 1px solid #689a04;
    margin: 5px 0 !important;
    width: 100%;
    box-sizing: border-box;
    background: #f5f5f5;

    &:hover {
      background-color: lighten($primary, 10%);

      a {
        color: white;
      }
    }
  }
  .ui-accordion-header-active {
    border-bottom: 0px;
    color: white;
    background-color: $primary;

    &:hover {
      background-color: $primary;
    }

    a {
      color: white;
    }
  }
  .ui-accordion-content {
    border: 1px solid #689a04;
    border-top: 0px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 0;
  }
  .views-row {
    line-height: 2;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: 0px;

      a {
        border-radius: 0 0 4px 4px;
      }
    }

    &:hover {
      background-color: #9bcb3b;
    }

    .field-content {
      display: block;

      a {
        display: block;
        padding: 0 2.2em;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }

    a.active {
      color: white;
      background-color: lighten($primary, 10%);
    }
  }
  .views-row-even {
    background-color: #e6e6e6;
  }
}

.views-slideshow-cycle-main-frame-row {
  width: 100%;
}
#views_slideshow_cycle_teaser_section_ad_cycles-ad_random {
  width: 100% !important;
}

table.fc-border-separate {
  border-collapse: collapse;
  border: 1px solid grey;
}

.fc-day.ui-widget-content {
  border: 1px solid #cccccc;
}

.row {
  margin: 0;
  padding: 0 1em;
}

.pane-course-outline,
.pane-course-outline-and-navigation {
  padding: 1em 0;

  .pane-title {
    margin-left: 1em;
  }

  .course-title {
    margin: 0;
    text-align: center;
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0;
    padding-left: 0;

    li {
      list-style: none;
      border-bottom: 1px solid #ddd;
      padding: 0 1em;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;

      &:nth-child(odd) {
        background-color: white;
      }

      &:nth-child(even) {
        background-color: #e6e6e6;
      }

      &:hover {
        background-color: #9bcb3b;

        a {
          text-decoration: none;
          color: white;
        }
      }

      &.active {
        a {
          color: #EA4335;
        }
      }

      > div {
        display: inline-block;
        text-transform: capitalize;
        float: right;

        &:before {
          content: "\00a0 - ";
        }
      }
    }
  }

  #course-nav {
    margin-bottom: 0;
    text-align: center;
    padding: 0;

    li {
      list-style: none;
      font-size: 14px;
      display: inline-block;
      background-color: #0d7339;
      padding: 3px 4px;
      border-radius: 5px;

      &:hover {
        background-color: #8bbf50;
      }

      &::before {
        margin-right: 3px;
        color: white;
      }
    }

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }

    .course-nav-prev{
      &::before {
        content: "\f0a8";
        font-family: "FontAwesome";
      }
    }

    .course-nav-back {
      &::before {
        content: "\f0aa";
        font-family: "FontAwesome";
      }
    }

    .course-nav-next {
      &::before {
        content: "\f0a9";
        font-family: "FontAwesome";
      }
    }
  }
}

.page-node-course-outline {
  .course-outline-overview-form {
    padding: 0 1em;
  }

  #course-objects {
    width: 100%;

    td div[id*="title"] {
      font-weight: bold;
    }

    ul {
      margin: 0.5em 0;
      padding-left: 1em;

      @include breakpoint(590px) {
        column-count: 3;
      }
    }
  }
}
