.page-faq, .node-type-panopoly-faq {
	.row {
		display: flex;
		flex-flow: row wrap;
	}

	.radix-layouts-content {
		flex: 1 1 500px;
		padding-right: 0;

		@include breakpoint(848px) {
			min-width: 500px;
			padding-right: 15px;
		}
	}

	.radix-layouts-sidebar {
		flex: 1 300px;
		min-width: 300px;
		padding-left: 0;

		@include breakpoint(848px) {
			flex: 0 300px;
			padding-left: 15px;
		}
	}
}