.page-faq, .node-type-panopoly-faq {
	.panel-panel {
    	padding: 15px 0;
	}

	.row {
		display: flex;
		flex-flow: row wrap;
	}

	.radix-layouts-content {
		min-width: 550px;
		flex: 1 550px;
	}

	.radix-layouts-sidebar {
		min-width: 300px;
    	flex: 1 300px;
	}
}