#block-panels-mini-footer {
  #mini-panel-footer {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;

    @include breakpoint(768px) {
      font-size: 16px;
    }
  }

  .pane-menu-menu-footer-links {
    
    ul.menu {
      text-align: center;
      margin: 0;
      display: flex;
      padding: 0;
      flex-flow: row wrap;
      justify-content: center;
    }

    .menu li {
      border-bottom: 0px;
      float: none;
      margin-left: 0;
      list-style: none;
      padding: 0 5px;

      a {
        color: white;
      }
    }

    @include breakpoint(1064px) {
      width: auto;
      float: none;
      display: inline-block;
    }
  }

  .copyright {
  	color: white;
  	text-align: center;

    @include breakpoint(1064px) {
      width: auto;
      float: none;
      display: inline-block;
      margin-right: 2em;
    }
  }

  .iec-logo {
  	// position: absolute;
   //  right: 10px;
   //  top: 5px;
   flex: 100%;

    p {
      margin-top: 0;
    }
  }

  .certificates {
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    .certificate img {
      width: auto;
      height: 180px;
      margin-right: 10px;
    }
  }
}