.form-item {
	font-size: 16px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
	}

	th {
		background-color: initial;
	}

	tr.odd{
		background-color: #FAFAF8;
	}
	tr.even{
		background-color: white;
	}
}

input[type="submit"]{
	cursor: pointer;
    padding: 3px 10px;
    color: #333;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #ccc;
    box-shadow: #ddd 0 1px 1px;
    border-radius: 3px;
}

.form-type-radio input {
	width: auto;
}

html.js fieldset.collapsed {
	border-width: 1px;
	height: 2em;
}
