.form-item {
	font-size: 16px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
	}
}

.form-type-radio input {
	width: auto;
}

html.js fieldset.collapsed {
	border-width: 1px;
	height: 2em;
}

.page-user-edit {
	.password-strength {
		float: none;
	    margin: 0 auto 1em;
	    flex: 1 100%;
	}
	.password-confirm {
		float: none;
	    margin: 0 auto 1em;
	    flex: 1 100%;

	    &.form-text {
	    	margin-bottom: 0;
	    }
	}
	.password-suggestions {
		margin: 0.7em auto;
	}

	.pane-user-form-account {
		@include flexifields(150px);
		// label {
		// 	width: 150px;
		// }
		// input.form-text {
		// 	width: calc(100% - 155px);
		// 	min-width: 150px;
		// }

		.form-item-status .form-radios {
			display: inline-block;

			.form-type-radio {
				display: inline-block;
				width: auto;

				label {
					width: auto;
				}
			}
		}

		.form-item-roles .form-checkboxes {
			display: inline-block;

			.form-type-checkbox {
				display: block;
				display: block;
			    width: 50%;
			    float: left;
			    min-width: 200px;
			}
		}
	}
}

