.form-item {
	font-size: 16px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
	}

	th {
		background-color: initial;
	}

	tr.odd{
		background-color: #FAFAF8;
	}
	tr.even{
		background-color: white;
	}
}

input[type="submit"]{
	display: table;
    padding: 6px 12px !important;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-type-radio input {
	width: auto;
}

html.js fieldset.collapsed {
	border-width: 1px;
	height: 2em;
}
