.form-item {
	font-size: 16px;
	margin-bottom: 10px;

	label {
		display: inline-block;
	}

	input, keygen, select {
		display: inline-block;
		background-color: white;
	}
	
	input, textarea, keygen, select, button {
		font-size: 16px;
	}

	th {
		background-color: initial;
	}

	tr.odd{
		background-color: #FAFAF8;
	}
	tr.even{
		background-color: #E6E6E6;
	}

	.container-inline-date .form-item input {
		margin: 0;
	}
}

input[type="submit"]{
	display: table;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#module-filter-show-wrapper .form-item {
    display: inline-block;

    label {
    	margin-left: 0;
    }
}

fieldset {
	margin-bottom: 1em;
    border: 2px solid #689a04;
    border-radius: 10px;
    padding: 0.5em 1em;
    min-width: 0;
}

html.js fieldset.collapsed {
	border-width: 2px;
	height: 2em;
}

.form-actions {
	text-align: center;
	background: #eee;
    border: 1px solid #ddd;
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 0;

	#edit-submit {
		display: inline-block;
		background-color: #0f753b;
		color: white;

		&:hover {
			background-color: #7fb739;
		}
	}
	[type="submit"] {
		display: inline-block;
    	margin-left: 10px;
	}
}

.page-manager-save-page-form {
	text-align: center;

	.changed-notification {
		text-align: left;
	}

	[type="submit"] {
		display: inline-block;
    	margin: 10px;
	}
}

.field-type-addressfield,
[id="field-phone-values"] {
	.form-item {
		margin-bottom: 0.5em;
	}
}
