.front .wwm-sanderson {
	.row {
		display: flex;
		flex-flow: row wrap;

		> div[class*="col-"] {
			flex: 1 0 300px;
			padding: 15px;
			width: 0;
			min-width: 300px;
			font-size: 16px;

			img {
				width: 100px;
			}
		}	
	}

	@include breakpoint(648px) {
		.row:nth-child(2) > div[class*="col-"] {
			flex: 0 0 100%;
			max-width: 400px;
		}
	}

	@include breakpoint(940px) {
		.row:first-child {
			float: left;
			width: 60%;
			margin: 0;
		}
		.row:nth-child(2) {
			float: right;
			width: 40%;

			> div[class*="col-"] {
				flex: 1 0 300px;
			}
		}
		.row:last-child {
			float: left;
			width: 60%;
			margin-top: 1em;
		}
	}

	@include breakpoint(1280px) {
		.row > div[class*="col-"] {
			font-size: 18px;
			flex: 1 0 300px;

			img {
				width: 150px;
			}
		}
	}
}