.front .wwm-sanderson,
.panopoly-landing-page {
	.row {
		display: flex;
		flex-flow: row wrap;

		> div[class*="col-"] {
			flex: 1 0 200px;
			padding: 15px;
			width: 0;
			min-width: 200px;
			font-size: 16px;

			@include breakpoint(375px) {
				flex: 1 0 300px;
				min-width: 300px;
			}

			img.ad-image-landscape {
				width: auto;
			}

			div.node.node-testimonial,
			div.node.node-advertisement {
				margin-bottom: 0;
			}
		}

		&:first-child {
			padding: 0;

			@include breakpoint(375px) {
				padding: 1em;
			}
		}	
	}

	@include breakpoint(648px ) {
		.row:first-child {			
			> div[class*="col-"] {
				flex: 1 1 450px;
				min-width: 450px;
			}
		}
		.row:nth-child(2) {
			justify-content: center;

			> div[class*="col-"] {
				flex: 0 0 100%;
				max-width: 400px;
			}
		}

		.row:last-child {
			> div[class*="col-"] {
				flex: 1 1 350px;
				min-width: 350px;	
			}
		}
	}

	@include breakpoint(940px 1279px) {
		.row:first-child {
			float: left;
			width: calc(65% - 1em);
			margin: 0 0 0 1em;
		}
		.row:nth-child(2) {
			float: right;
			width: 35%;
			padding: 0;

			> div[class*="col-"] {
				flex: 1 0 300px;
				max-width: initial;
				min-width: 300px;

				&:first-child {
					padding-top: 0;
				}
			}
		}
		.row:last-child {
			float: left;
			width: calc(65% - 1em);
			margin-top: 1em;
			margin-left: 1em;
		}
	}

	@include breakpoint(1280px) {
		.row {
			float: none;

			> div[class*="col-"] {
				font-size: 18px;
				flex: 1 0 300px;
				max-width: initial;

				img.ad-image-landscape {
					width: auto;
				}
			}
		}

		.row:nth-child(2) > div[class*="col-"] {
			max-width: initial;
			flex: 1 0 300px;
		}
	}

	.radix-layouts-secondarycolumn2 {
		.panels-ipe-portlet-wrapper:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	.scroll-pane {
		@include breakpoint(0px 1279px) {
			max-height: none;
			height: auto;
		}
	}
}

.not-logged-in.panopoly-landing-page {
	.row:not(:first-child) .panel-pane:not(:last-child) {
		margin-bottom: 1em;
	}
}
