.course-jump-menu {
	.container-inline {
		text-align: center;
		margin-bottom: 0.5em;
	}
	.ctools-jump-menu-select {
		display: inline-block;
		font-size: 1.5em;
		vertical-align: middle;
		max-width: 100%;
	}
	.ctools-jump-menu-button {
		display: inline-block;
		vertical-align: middle;
	}
}
.jcarousel-tabs {
	width: 95%;
	margin: 0 auto;
}
.view-course-tabs .jcarousel-container {
	height: auto;
	padding: 0 40px;
	position: relative;
    top: 2px;

    a:hover {
    	text-decoration: none;
    }

	.jcarousel-clip-horizontal {
		box-sizing: border-box;
	}

	.jcarousel-item-horizontal {
		height: auto;
	    width: auto;
	    padding: 0.5em 1em;
	    border-bottom: 2px solid #689a04;
	    border-radius: 10px 10px 0 0;
	    background-color: #8BBF50;
	    position: relative;
	    overflow: visible;
	    margin: 0 11px;

	    &:hover {
	    	background-color: #fff;

	    	a {
	    		color: black;
	    	}
	    }

	    &.active {
	    	border-color: #689a04;
	    	border-bottom: 2px solid transparent;
	    	background-color: white;
	    	border-width: 2px;
	    	z-index: 2;

	    	&:before {
    			z-index: 1;
    			border-width: 2px;
    			border-color: #689a04;
    			border-bottom: 2px solid transparent;
    		}
    		&:after {
    			border-width: 2px;
    		}
	    	a {
	    		color: black;
	    	}
	    }

	    &:first-child {
	    	margin-left: 23px;
	    }
	    &:last-child {
	    	margin-right: 2em;
	    }

	    &:before, &:after {
	    	content: " ";
		    position: absolute;
		    top: 0;
		    width: 23px;
		    height: 100%;
		    background: inherit;
		    border-bottom: inherit;
	    }
	    &:before {
	    	left: -13px;
		    border-radius: 12px 0 0 0;
		    transform: skew(-24deg);
		    border-left: 1px solid #cccccc;
	    }
	    &:after {
	    	border-radius: 0 12px 0 0;
		    transform: skew(24deg);
		    right: -13px;
		    border-right: 1px solid #628E2F;
		    z-index: 1;
	    }

	    a {
	    	color: white;
	    }
	}

	.jcarousel-next-horizontal {
		right: 0px;
	    top: 0px;
	    background-position: 15px -26px;

	    &:hover {
	    	background-position: -17px -26px;
	    }
	}
	.jcarousel-prev-horizontal {
		left: 0px;
		top: 0px;
	    background-position: 1px 8px;

	    &:hover {
	    	background-position: -31px 8px;
	    }
	}

	.jcarousel-prev-horizontal,
	.jcarousel-next-horizontal {
		width: 48px;
	    height: 100%;
	    border-top: 1px solid #cccccc;
	    box-sizing: border-box;
	    border-radius: 10px 10px 0 0;
	    background-color: white;
	    border-bottom: 2px solid #689a04;
	    z-index: 5;
	    display: block !important;

		&:before {
	    	content: " ";
		    position: absolute;
		    background-color: inherit;
		    display: block;
		    width: 23px;
		    height: 100%;
		    left: -13px;
		    transform: skew(-24deg);
		    border-radius: 12px 0 0 0;
		    border-left: 1px solid #628E2F;
		    border-bottom: 2px solid #689a04;
	    }
	    &:after {
	    	content: " ";
		    position: absolute;
		    background-color: inherit;
		    display: block;
		    width: 23px;
		    height: 100%;
		    right: -13px;
		    transform: skew(24deg);
		    border-radius: 0 12px 0 0;
		    border-right: 1px solid #628E2F;
		    border-bottom: 2px solid #689a04;
	    }
	}
}