.view-course-tabs .jcarousel-container {
	height: auto;
	padding: 0 40px;

	.jcarousel-clip-horizontal {
		padding: 0 0.1em;
	}

	.jcarousel-item-horizontal {
		height: auto;
	    width: auto;
	    padding: 0.5em 0.5em;
	    border-bottom: 2px solid #689a04;
	    border-radius: 10px 10px 0 0;
	    background-color: #f5f5f5;
	}

	.jcarousel-next-horizontal {
		right: 5px;
		top: 6px;
	}
	.jcarousel-prev-horizontal {
		left: 5px;
		top: 6px;
	}
}