/* These are styles for the login and registration pages. */

.page-user-login {
	.radix-layouts-content {
		padding: 1em;
		border-radius: 10px;
		border: 2px solid #9bcb3b;
	}

	form#user-login {
		margin: 0;

		& > div > .form-item {
    		display: table;
    		margin: 0 auto 1em;
    	}    	

    	.g-recaptcha {
    		display: table;
    		margin: auto;
    	}

    	#edit-actions {
    		text-align: center;
    	}

    	
	}
}