#block-superfish-1 {

  @include breakpoint(718px) {
    display: table;
    margin: 0 auto;
  }

  a:hover {
    text-decoration: none;
  }

  #superfish-1 {
    background: #6fae1b;
    background: linear-gradient(to bottom, #1e5799 0%,#badc68 0%,#6fae1b 98%,#6fae1b 100%);
    border-radius: 5px;
    box-sizing: border-box;

    li {
      background: transparent;

      &:first-child a {
        border-radius: 5px 0 0 5px;
      }

      &:last-child a {
        border-radius: 0 5px 5px 0;
      }

      a {
        border: 0px;
        color: white;
        padding: 12px;

        &.sf-with-ul {
          padding-right: 28px;
        }

        &:hover, &.active {
          background: linear-gradient(to bottom, #1e5799 0%,#a7c45d 0%,#538014 99%,#538014 100%);
        }
        &:focus {
          background: white;
          color: #e54e4b;
        }
      }
    }

    li.menuparent {
      ul {
        background: white;
        border-bottom: 2px solid #6fae1b;
        border-right: 1px solid #6fae1b;
        border-left: 1px solid #6fae1b;
        border-radius: 0;
        min-width: 12em !important;
        width: auto !important;

        a {
          background: white;
          color: black;

          &:hover{
            color: #e54e4b;
          }
        }
      }
    }
  }

  #superfish-1-toggle {
    display: block;
    text-align: center;
    background-color: #0F753D;
    color: white;
    border-radius: 10px;
    border-left: 0px;
    padding: 0.5em;
    font-size: 1.2em;

    &.sf-expanded {
      background-color: #2ea328;
      border-radius: 10px 10px 0 0;

      span:before {
        content: "\f0d7";
        font-family: "FontAwesome";
        margin-right: 10px;
      }
    }

    span:before {
      content: "\f0da";
      font-family: "FontAwesome";
      margin-right: 10px;
    }
  }

  #superfish-1-accordion {
    border: 1px solid #689a04;
    border-top: 0px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;

    li {
      background-color: white;
      border: 1px solid #ddd;
      box-sizing: border-box;

      &.active-trail, &.active-trail:nth-child(even) {
        background-color: #0f753b;

        > a {
          color: white;

          &:hover {
            background-color: #0f753b;
          }
        }
      }

      &.menuparent>a.menuparent:before {
        content: "\f0da";
        font-family: "FontAwesome";
        margin-right: 10px;
        margin-left: -17px;
      }

      &.menuparent.sf-expanded{
        >a.menuparent{
          font-weight: normal;

          &:before {
            content: "\f0d7";
            font-family: "FontAwesome";
            margin-right: 10px;
            margin-left: -17px;
          }
        }
      }

      &.menuparent>ul{
        padding-left: 10px;
        box-sizing: border-box;

        >li:last-child {
          border-radius: 0px;

          a {
            border-radius: 0px;
          }
        }
      }

      &:nth-child(even) {
        background-color: #e6e6e6;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;

        > a:last-child {
          border-radius: 0 0 10px 10px;
        }
      }

      a {
        border: 0px;
        color: black;
        padding-left: 34px;

        &:hover {
          background-color: #e9efcc;
        }
        &:focus {
          background-color: initial;
        }
      }
    }
  }

  @include breakpoint(718px 756px) {
    font-size: 12px;
  }
  @include breakpoint(757px 795px) {
    font-size: 13px;
  }
  @include breakpoint(796px 873px) {
    font-size: 14px;
  }
  @include breakpoint(874px 951px) {
    font-size: 16px;
  }
}