@import 'https://fonts.googleapis.com/css?family=Italianno';

body.maintenance-page {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    .l-page {
    	max-width: 960px;
	    background: #f5f5f5;
	    padding: 2em 3em;
	    box-sizing: border-box;
	    border-radius: 10px;
	    border: 2px solid #9bcb3b;
	    text-align: center;
	    box-shadow: 0px 0px 0px 2px rgba(245, 245, 245, 0.5);
    }

    .site-name {
    	display: inline-block;
    	font-family: 'Italianno', Georgia, "Times New Roman", Times, serif;
	    font-size: 5em;
	    font-style: normal;
	    font-weight: normal;
	    margin: 0;
    }

    .site-slogan {
    	font-size: 1.2em;
    	font-weight: normal;
        margin: 0 5.5em;
        font-style: italic;
    }

    .l-content {
    	margin-bottom: 2em;

    	h1 {
        	margin: 2em;
            text-transform: capitalize;
        }
    }
}