#block-superfish-1 {

  @include breakpoint(718px) {
    display: table;
    margin: 0 auto;
  }

  a:hover {
    text-decoration: none;
  }

  #superfish-1 {
    background: #6fae1b;
    background: linear-gradient(to bottom, #1e5799 0%, #8bbf50 0%, #6fae1b 98%, #6fae1b 100%);
    border-radius: 5px;
    box-sizing: border-box;

    >li:first-child a:hover {
      border-radius: 5px 0 0 5px;
    }
    >li:last-child a:hover {
      border-radius: 0 5px 5px 0;
    }

    li {
      background: transparent;

      &.sfHover {
        ul {
          top: 42px;
          
          @include breakpoint(718px 756px) {
            top: 36px;
          }
          @include breakpoint(757px 795px) {
            top: 37px;
          }
          @include breakpoint(796px 873px) {
            top: 38px;
          }
          @include breakpoint(874px 951px) {
            top: 40px;
          }
        }
      }

      a {
        border: 0px;
        color: white;
        padding: 12px;

        &.sf-with-ul {
          padding-right: 28px;
        }

        &:hover, &.active {
          background: linear-gradient(to bottom, #1e5799 0%,#a7c45d 0%,#538014 99%,#538014 100%);
        }
        &:focus {
          background: white;
          color: #e54e4b;
        }
      }
    }

        li li.sfHover > ul {
      top: 0;
    }

    li.menuparent {
      ul {
        background: white;
        min-width: 12em !important;
        width: auto !important;
        padding: 0 !important;

        .sf-sub-indicator {
          filter: invert(0.75);
        }

        >li {
          border-right: 1px solid #6fae1b;
          border-left: 1px solid #6fae1b;

          &:last-child {
            border-radius: 0 0 5px 5px;
            border-bottom: 2px solid #6fae1b;

            a {
              border-radius: 0 0 5px 5px;
            }
          }

          &:hover {
            > a {
              background-color: #e9efcc;
              color: black;
            }
          }

          &.menuparent.sfHover:last-child {
            border-bottom-right-radius: 0;
            > a {
              border-bottom-right-radius: 0;
            }
          }

          &.menuparent ul li:last-child {
            border-bottom-left-radius: 0px;
            > a {
              border-bottom-left-radius: 0px;
            }
          }
        }

        a {
          background: white;
          color: black;
        }
      }
    }
  }

  #superfish-1-toggle {
    display: block;
    text-align: center;
    background-color: #0F753D;
    color: white;
    border-radius: 10px;
    border-left: 0px;
    padding: 0.5em;
    font-size: 1.2em;

    &.sf-expanded {
      background-color: #2ea328;
      border-radius: 10px 10px 0 0;

      span:before {
        content: "\f0d7";
        font-family: "FontAwesome";
        margin-right: 10px;
      }
    }

    span:before {
      content: "\f0da";
      font-family: "FontAwesome";
      margin-right: 10px;
    }
  }

  #superfish-1-accordion {
    border: 1px solid #689a04;
    border-top: 0px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;

    li {
      background-color: white;
      border: 1px solid #ddd;
      box-sizing: border-box;

      &.active-trail, &.active-trail:nth-child(even) {
        background-color: #0f753b;

        > a {
          color: white;

          &:hover {
            background-color: #0f753b;
          }
        }
      }

      &.menuparent>a.menuparent:before {
        content: "\f0da";
        font-family: "FontAwesome";
        margin-right: 10px;
        margin-left: -17px;
      }

      &.menuparent.sf-expanded{
        >a.menuparent{
          font-weight: normal;

          &:before {
            content: "\f0d7";
            font-family: "FontAwesome";
            margin-right: 10px;
            margin-left: -17px;
          }
        }
      }

      &.menuparent>ul{
        padding-left: 10px;
        box-sizing: border-box;

        >li:last-child {
          border-radius: 0px;

          a {
            border-radius: 0px;
          }
        }
      }

      &:nth-child(even) {
        background-color: #e6e6e6;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;

        > a:last-child {
          border-radius: 0 0 10px 10px;
        }
      }

      a {
        border: 0px;
        color: black;
        padding-left: 34px;

        &:hover {
          background-color: #e9efcc;
        }
        &:focus {
          background-color: initial;
        }
      }
    }
  }

  @include breakpoint(718px 756px) {
    font-size: 12px;
  }
  @include breakpoint(757px 795px) {
    font-size: 13px;
  }
  @include breakpoint(796px 873px) {
    font-size: 14px;
  }
  @include breakpoint(874px 951px) {
    font-size: 16px;
  }
}