.page-user-edit #user-edit {
	display: flex;
	flex-flow: row wrap;

	div[class*="column"] {
		padding: 0.5em;
		flex: 1 1 30%;
	}
}

.page-user-edit {
	#wwm-special-2 .top-columns {
		@include breakpoint(1250px) {	
			.top-1,	.top-2,	.top-3,	.top-4 {
				max-width: calc(100% / 3);
			}
		}
	}

	.form-item .clearfix {
		width: 100%;
	}

	input.field-add-more-submit {
	    text-transform: capitalize;
	    margin: .5em auto 0;
	    display: table;
	}

	input[value="Remove"] {
		position: absolute;
	    -webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	    right: -72px;
	    top: 50%;
	    background-color: #6fae1b;
	    color: white;
	}
	.field-add-more-submit {
		background-color: #6fae1b;
		color: white;
	}

	.password-strength {
		float: none;
	    margin: 0 auto 1em;
	    flex: 1 100%;
	}
	.password-confirm {
		float: none;
	    margin: 0 auto 1em;
	    flex: 1 100%;

	    &.form-text {
	    	margin-bottom: 0;
	    }
	}
	.password-suggestions {
		margin: 0.7em auto;
	}

	.pane-user-form-account {
		@include flexifields(150px);

		.form-item-status .form-radios {
			display: inline-block;

			.form-type-radio {
				display: inline-block;
				width: auto;

				label {
					width: auto;
				}
			}
		}

		.form-item-roles {
			margin-bottom: 0;

			.form-checkboxes {
				display: flex;
	    		flex-flow: row wrap;
	
				.form-type-checkbox {
					display: block;
				    min-width: 200px;
				    flex: 1 1 50%;
				}
			}
		}
	}

	.field-type-field-collection {
		th.field-label {
			display: none;
		}
	}

	.pane-user-group-full-name {
		@include flexifields(178px);

		.description {
			flex: 100%;
		}
	}

	.field-name-field-phone {
		@include flexifields(120px);

		.description {
			flex: 100%;
		}

		>div>.form-item {
			margin-bottom: 0;
		}
	}

	.field-name-field-name-suffix .form-item {
		margin-bottom: 0;
	}

	.field-name-field-book-types .form-item.form-type-radio {
		margin-bottom: 0;
		width: auto;
	    display: inline-block;
	    margin-right: 8px;
	}

	.field-name-field-mailing-address {
		@include flexifields(114px);

		.description {
			flex: 100%;
		}

		select.country,
		select.state {
			width: calc(100% - 114px);
		}

		>div>.form-item {
			margin-bottom: 0;
		}
	}

	.field-name-field-websites input {
		width: 100%;
	}

	tr.draggable {
		display: flex;
	}
	tr.draggable td:not([class]) {
		flex: 100%;
    	display: block;
    	position: relative;
	}

	td.field-multiple-drag {
		order: 1;
	    box-sizing: border-box;
	    display: block;
	    width: 50px;
	    padding: 10px;
	    padding-right: 0;
	}

	#edit-masquerade-users {
		width: 100%;
	}

	footer {
		padding: 0 1%;
	}
}
